#Description {
    flex: 1;
    width: 100%;
    display: flex;
}

#description-form {
    flex: 1
}

#description-box {
    height: 100%;
    width: calc(100% - 20px);
    background-color: var(--bg-color);
    border: none;
    border-radius: 10px;
    padding: 8px;
    outline: none;
}